
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Pacifico&family=Open+Sans:wght@300;400;500;600&family=Roboto:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

/* Define color scheme */
/* inferno */
:root {
  --a0: #000004; /* main accent */
  --a1: #57106D; /* secondary accent */
  --a2: #BB3755;
  --a3: #F98D0A;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: auto 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  font-size: 12pt;
  background-color: #FAFAFA;
}

b {
  /* Format all bolds */
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

p {
  text-align: left;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0px;
}
@media screen and (min-width: 600px) {
   p {
      text-align: justify;
   }
}

h1 {
  font-size: 40pt;
  line-height: 45pt;
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-top: 90px;
  margin-bottom: 50px;
  text-align: center;
  color: var(--a2);
}

h2 {
  font-size: 32pt;
  padding-bottom: 5px;
  font-family: 'Open Sans',sans-serif;
  font-weight: 200;
  padding-top: 20px;
  color: var(--a2);
}

a {
  color: #222222;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

a:hover {
  color: var(--a2);
}

div.main {
  margin: 0 auto;
  width: 84%;
  max-width: 800px;
  padding-top: 50px;
  padding-bottom: 50px
}




/*  For navigation/header and footer */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FAFAFA;
  margin: 0px;
  padding: 0px;
  font-size: 10pt;
  z-index: 20;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
  box-shadow: white;
  transition: 0.3s;
}

nav {
  width: 82%;
  text-align: right;
}

.nav-list {
  list-style: none;
  padding: 10px 8% 10px 2px;
}

.nav-list li {
  display: inline-block;
  padding: 4px 3%;
  vertical-align: middle;
}

.nav-link {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease 0s;
  font-weight: 400;
  top: -500px;
}

.nav-link:hover {
  color: var(--a2);
}

#header-logo {
  font-family: 'Montserrat';
  font-size: 19pt;
  text-decoration: none;
  padding: 15px 2px 15px 8%;
  color: var(--a2);
}

a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden;
}

div.footer {
  background-color: #F2F2F2;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  border-top: 1px solid #DDDDDD;
}



/* For the plots */
.axis {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 10pt;
  font-weight: 200;
}



/* For control components */
div.control {
  padding: 0px 30px 5px 0px;
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 5px;
  width: 150px;
}

.control-label {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #444;
  font-size: 10pt;
}

.control-unit {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #999;
  font-size: 10pt;
}

.textinput {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 300;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 90%;
}

.textinput:hover {
  border: 2px solid var(--a2);
}

.textinput:focus {
  border: 2px solid var(--a2);
}




select {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 11pt;
  border-radius: 3pt;
  font-weight: 300;
  padding: 5px 10px 5px 10px;
  border: 2px solid #E3E3E3;
  background-color: white;
  transition: all 0.3s ease 0s;
  width: 197px;
}

select:hover {
  border: 2px solid var(--a2);
}

select:focus {
  border: 2px solid var(--a2);
}

option {
  font-family: 'Open Sans',  Arial, sans-serif;
  font-size: 11pt;
  font-weight: 300;
}


/* for blue slider */
.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 5pt;
  border-radius: 5px;
  background: #E3E3E3;
  outline: none;
  -webkit-transition: .2s;
  transition: all .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  border: 1pt solid white;
  background: var(--a2);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 11pt;
  height: 11pt;
  border-radius: 50%;
  border: 1pt solid white;
  background: var(--a2);
  cursor: pointer
}
